<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (book()) {
      <div>
        <h2 data-cy="bookDetailsHeading"><span>Book</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ book()!.id }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ book()!.title }}</span>
          </dd>
          <dt><span>Sub Title</span></dt>
          <dd>
            <span>{{ book()!.subTitle }}</span>
          </dd>
          <dt><span>Author</span></dt>
          <dd>
            <span>{{ book()!.author }}</span>
          </dd>
          <dt><span>Genre</span></dt>
          <dd>
            <span>{{ book()!.genre }}</span>
          </dd>
          <dt><span>Isbn</span></dt>
          <dd>
            <span>{{ book()!.isbn }}</span>
          </dd>
          <dt><span>Number Of Pages</span></dt>
          <dd>
            <span>{{ book()!.numberOfPages }}</span>
          </dd>
          <dt><span>Publisher</span></dt>
          <dd>
            <span>{{ book()!.publisher }}</span>
          </dd>
          <dt><span>Edition</span></dt>
          <dd>
            <span>{{ book()!.edition }}</span>
          </dd>
          <dt><span>Format</span></dt>
          <dd>
            <span>{{
              { null: '', HARDCOVER: 'HARDCOVER', PAPERBACK: 'PAPERBACK', EBOOK: 'EBOOK', AUDIOBOOK: 'AUDIOBOOK' }[book()!.format ?? 'null']
            }}</span>
          </dd>
          <dt><span>Description</span></dt>
          <dd>
            <span>{{ book()!.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/book', book()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
