<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span>Welcome to Library 365</span></h1>

    <p class="lead">This is your homepage</p>

    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account()) {
            <span id="home-logged-message">You are logged in as user &quot;{{ account()!.login }}&quot;.</span>
          }
        </div>
        <p class="lead">You can manage your Books <a class="alert-link" (click)="navigateToBookList()">here</a></p>
      } @else {
        <div class="alert alert-success">
          <span>If you want to </span>
          <a class="alert-link" (click)="login()">sign in</a
          ><span
            >, you can try the default accounts:<br />- Administrator (login=&quot;admin&quot; and password=&quot;admin&quot;). The admin
            user can Add, Edit and Remove Books. In addition, they have access to the application Authority and User management, access to
            the published API and direct access to the Database. <br />- User (login=&quot;user&quot; and password=&quot;user&quot;). The
            user account can Add, Edit and Remove Books.</span
          >
        </div>

        <div class="alert alert-warning">
          <span>You don&apos;t have an account yet?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Register a new account</a>
        </div>
      }
    </div>
  </div>
</div>
